<html> 
   <head> 
      <title>success</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   </head> 
   <body>
      <h2>Verification Results</h2>
    <table align="center" border="2" cellpadding="1" cellspacing="1" style="width:500px; color:white">
      <tbody>
         <tr>
            <th scope="row">Verifcation Status</th>
            <td>{{verified}}</a></td>
         </tr>
         <tr>
            <th scope="row">Output</th>
            <td>{{result}}</td>
         </tr>
      </tbody>
   </table>
   </body>
</html>
