body {background-color: 0091bd;
    width:640px}
h1    {color: black;}
p     {color: white;}
a     {color: white;}
li     {color: white;}
color {color: white;}

h1 { text-align: center; }
h2 { text-align: center; }
.custom-file-upload { text-align: center;
                    color: white;}
.custom-form { text-align: left;
             margin: auto;
             color: white;}